@import url('https://fonts.googleapis.com/css2?family=Martel:wght@300;400&family=Quicksand:wght@400;500&display=swap');

* {
    margin: 0;
    padding: 0;
    border: none;
}

body {
    font-family: Martel, sans-serif;
    font-weight: 300;
    color: #0B0A08;
    background-color: #D5D1CB;
}

/* headings and logo */
h1, h2 {
    font-family: Quicksand, sans-serif;
    text-transform: lowercase;
    letter-spacing: 6px;
    color: #453d31;
    font-size: 200%;
}

h3 {
    font-family: Quicksand, sans-serif;
    text-transform: lowercase;
    letter-spacing: 6px;
    color: #453d31;
    font-size: 150%;
}

/* #logo {
    float: left;
    padding-left: 20px;
    max-height: 100px;
} */

/* navigation links (need to increase spacing between page names)*/
#menu {
    font-size: 110%;
    letter-spacing: 1px;
    /* margin: 0 1vw; */
    display: flex;
    line-height: 70px;

    flex-direction: row-reverse;
    justify-content: space-around flex-end;
    
}
/* 
#menu, #logo {
    line-height: 75px;
} */

#menu li {
    list-style-type: none;
    margin-right: 20px;
}

#menu a {
    text-decoration: none;
    color: inherit;
}

#menu a:hover {
    border-bottom: 1.5px solid #0B0A08;
}

.active {
    border-bottom: 1.5px solid #0B0A08;
}

/* hero image and description */

.hero {
    background-color: rgba(213, 209, 203, 0.8);
    background-image: url(../images/photo-boards-OiV3i01sLqE-unsplash.smaller.jpg);
    height: 70vh;
    padding: 1em;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.hero-content {
    /* position: relative; */
    font-family: Martel, sans-serif;
    color: #453d31;
    text-align: center;
    margin: 500px;
    background-color: rgba(241, 239, 237, 0.6);

    display: flex;
    justify-content: center;
    align-items: center;
    width: 60ch;
    border: 0.5px solid #453d31;
    padding: 175px 325px;
    
}

/* #hero-image {
    height: 100vw;
    width: 100vw;    
    background: #f1efed url("/assets/images/photo-boards-OiV3i01sLqE-unsplash.smaller.jpg") no-repeat center scroll;
}

/* description section */

/* #description h2 {
    color: #rgba(69, 61, 49, .9);
    font-size: 120%;
    font-family: Martel, sans-serif;
    text-transform: lowercase;
    letter-spacing: 2px;
    width: 300px;
    height: 200px;
    padding: 40px;
    padding-left: 40px;
    background-color: rgba(241, 239, 237, .7)
    bottom: 300px;
    right: 150px;
    position: center;
} */ */

/* #description {
    border: 50px;
    padding: 40px;
    padding-left: 40px;
    background-color: #f1efed;
    opacity: 0.8;
    bottom: 300px;
    right: 150px;
    position: center;
} */

/* about me */
.aboutme {
    /* position: relative;
    padding: 175px 350px;
    text-align: left;
    text-size: 120%;
    font-size: larger;
    color: #0B0A08;
    font-weight: 700; */

    font-family: Martel, sans-serif;
    color: #0B0A08;
    font-weight: 900;
    text-align: center;
    margin: 500px;
    background-color: rgba(241, 239, 237, 0.6);

    /* justify-content: center;
    align-items: center; */
    width: 60ch;
    border: 0.5px solid #453d31;
    padding: 175px 325px;
}

/* get ahold of me */

/* button,
input,
select {
  font-family: inherit;
  font-size: 100%;
  width: 500px;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
} */

fieldset {
    background-color: red;
}

legend {
    background-color: pink;
    color: purple;
    padding: 5px 10px;
}

.getahold {
    padding: 50px;
    font-family: Martel, sans-serif;
    color: #0B0A08;
    font-weight: 900;
    text-align: center;
    margin: 500px;
    background-color: rgba(241, 239, 237, 0.6);

    /* justify-content: center;
    align-items: center; */
    width: 60ch;
    border: 0.5px solid #453d31;
    padding: 175px 325px;
}

.musicstyles {
    display: flex;
    flex-row: row;
    flex-wrap: wrap;
    align-items: stretch;
}

input[type=text]:focus {
    background-color: #f1efed;
  }

textarea {
    resize: both;
    outline: none;
    overflow: auto;
    width: 100ch;
}

/* footer */
footer {
    height: 150px;
  }

  .social-networks {
    text-align: center;
  }

  .social-networks > li {
    display: inline;
  }

  .social-networks i {
    font-size: 200%;
    margin: 1%;
    padding: 5%;
    color: #453d31;
  }