@import url('https://fonts.googleapis.com/css2?family=Martel:wght@300;400&family=Quicksand:wght@400;500&display=swap');

* {
    margin: 0;
    padding: 0;
    border: none;
}

body {
    font-family: Martel, sans-serif;
    color: #171410;
    background-color: #f1efed;
}

/* headings and logo */
h1, h2 {
    font-family: Quicksand; sans-serif;
    text-transform: lowercase;
    letter-spacing: 6px;
    color: #453d31;
}

#logo {
    float: left;
    padding-left: 20px;
    max-height: 150px;
}

/* navigation links */
#menu {
    font-size: 110%;
    letter-spacing: 6px;
}

#menu li {
    float: right;
    list-style-type: none;
    margin-right: 20px;
}

#menu a {
    text-decoration: none;
    color: inherit;
}

#menu, #logo {
    line-height: 75px;
}

#menu a:hover {
    border-bottom: 1.5px solid #171410;
}

.active {
    border-bottom: 1.5px solid #171410;
}